/* Fonts
---------------------------------------------------------------*/
@font-face {
  font-family: lato;
  src: url("../font/Lato/Lato-Light.ttf"); }
@font-face {
  font-family: merriweather;
  src: url("../font/Merriweather/Merriweather-Light.ttf"); }

body {
  font-family: lato, Helvetica, Arial, sans-serif;
}

/* Jumbotron Emulation
---------------------------------------------------------------*/
div.landing {
	color: #232323;
	background: #e5e5e5;
  padding: 20pt }

.landing > h3, h4 {
  padding-left: 5pt;
  margin-left: 2.5pt;
  border-left: 2.5pt solid #3182D9;
  margin-bottom: 0;
}

